packaging_format = 2

id = "owncast"
name = "Owncast"
description.en = "Live video and web chat server"
description.fr = "Serveur de vidéo en direct et de chat Web"

version = "0.2.4~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://owncast.online/"
demo = "https://watch.owncast.online/"
admindoc = "https://owncast.online/docs/"
code = "https://github.com/owncast/owncast"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "If enabled, Owncast will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Owncast sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/owncast/owncast/releases/download/v0.2.4/owncast-0.2.4-linux-64bit.zip"
        amd64.sha256 = "24dca3c6ddd17f52def65f74a4ed208d18b308e2eca0a1ca324b20b5cec8218b"
        arm64.url = "https://github.com/owncast/owncast/releases/download/v0.2.4/owncast-0.2.4-linux-arm64.zip"
        arm64.sha256 = "d5bacf026dd0cb01f847330709287b2af162e86c97bda23062507342cccb1a79"
        armhf.url = "https://github.com/owncast/owncast/releases/download/v0.2.4/owncast-0.2.4-linux-arm7.zip"
        armhf.sha256 = "4ca4b3d6eece861b7d7a1708f644a212dc1b03c37c84bb60b859fd8e596b29bb"
        in_subdir = false
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = ".*-linux-64bit.zip"
        autoupdate.asset.arm64 = ".*-linux-arm64.zip"
        autoupdate.asset.armhf = ".*-linux-arm7.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]
    stream.default = 1935
    stream.exposed = "TCP"

    [resources.apt]
    packages = "ffmpeg"
